#W
i2c_sda_in
i2c_sda_out_pin_ctrl
i2c_sda_out_pin_ctrl_n
i2c_scl_in

#S

#E
bypass_pin_control.*

#N
signal_input
trigger_signal_out
pga_gain_control.*

VDD
VSS
    
BPF_OUT,
OTA_IN_M,
JUNCTION,
RX_IN_P,
RX_IN_N,
IN_BPF,
IN_SCHMITT,
signal_input,
pga_gain_control.*,
bypass_pin_control.*


PAD_A.*
PAD_Y.*

PAD_CS.*;
PAD_OE.*;
PAD_IE.*;
PAD_PU.*;
PAD_PD.*;
PAD_SL.*;
PAD_PDRV0.*;
PAD_PDRV1.*;

i2c_scl_in,
i2c_scl_in_pu_control,
i2c_scl_in_pd_control,


i2c_sda_in,                   
i2c_sda_out_pin_ctrl,        
i2c_sda_out_pin_ctrl_n,     
i2c_sda_out_sl_control,
i2c_sda_out_pd_control,
i2c_sda_out_pu_control,
i2c_sda_out_cs_control,
i2c_sda_out_pdrv_control.*,

trigger_signal_out,
trig_out_pd_control,
trig_out_pu_control,
trig_out_sl_control,
trig_out_cs_control,
trig_out_ie_control,
trig_out_oe_control,
trig_out_pdrv_control.*,

ext_clk_in,
ext_clk_in_pu_control,
ext_clk_in_pd_control,

ext_rst_n_in,
nrst_in_pu_control,
nrst_in_pd_control