#W
VSS
VDD
BPF_OUT
OTA_IN_M
JUNCTION
RX_IN_P
RX_IN_N
IN_BPF
IN_SCHMITT
trigger_signal_out
trig_out_pd_control
trig_out_pu_control
trig_out_sl_control
trig_out_cs_control
trig_out_ie_control
trig_out_oe_control
trig_out_pdrv_control\[1\]
trig_out_pdrv_control\[0\]
ext_rst_n_in
nrst_in_pu_control
nrst_in_pd_control
ext_clk_in
ext_clk_in_pu_control
ext_clk_in_pd_control
i2c_scl_in
i2c_scl_in_pu_control
i2c_scl_in_pd_control
i2c_sda_in
i2c_sda_out_pin_ctrl
i2c_sda_out_pin_ctrl_n
i2c_sda_out_sl_control
i2c_sda_out_pd_control
i2c_sda_out_pu_control
i2c_sda_out_cs_control
i2c_sda_out_pdrv_control\[1\]
i2c_sda_out_pdrv_control\[0\]
PAD_A\[0\]
PAD_Y\[0\]
PAD_CS\[0\]
PAD_OE\[0\]
PAD_IE\[0\]
PAD_PU\[0\]
PAD_PD\[0\]
PAD_SL\[0\]
PAD_PDRV0\[0\]
PAD_PDRV1\[0\]
PAD_A\[1\]
PAD_Y\[1\]
PAD_CS\[1\]
PAD_OE\[1\]
PAD_IE\[1\]
PAD_PU\[1\]
PAD_PD\[1\]
PAD_SL\[1\]
PAD_PDRV0\[1\]
PAD_PDRV1\[1\]
#S

#E

#N
signal_input
pga_gain_control\[2\]
pga_gain_control\[1\]
pga_gain_control\[0\]
bypass_pin_control\[2\]
bypass_pin_control\[1\]
bypass_pin_control\[0\]